language: go
go:
- 1.7.4
- 1.8
install:
- go get github.com/nats-io/go-nats
- go get github.com/nats-io/gnatsd
- go get github.com/mattn/goveralls
- go get github.com/wadey/gocovmerge
- go get github.com/alecthomas/gometalinter
- gometalinter --install
before_script:
- EXCLUDE_VENDOR=$(go list ./... | grep -v "/vendor/")
- if [[ $(go fmt ./... | wc -c) -ne 0 ]]; then false; fi
- go build
- go install
- go vet $EXCLUDE_VENDOR
- gometalinter ./... --vendor --deadline 10m
script:
- go test -i -race $EXCLUDE_VENDOR -p 1
- go test -v -race $EXCLUDE_VENDOR -p 1
after_success:
- if [[ "$TRAVIS_GO_VERSION" == 1.7.* ]]; then ./scripts/cov.sh TRAVIS; fi
- if [[ "$TRAVIS_GO_VERSION" == 1.7.* ]] && [ "$TRAVIS_TAG" != "" ]; then ./scripts/cross_compile.sh $TRAVIS_TAG; ghr --owner nats-io --token $GITHUB_TOKEN --draft --replace $TRAVIS_TAG pkg/; fi
