language: go
go:
##- 1.8.5
- 1.9.2
addons:
  apt:
    packages:
    # needed for the nfpm pipe:
    - rpm
install:
- go get github.com/nats-io/go-nats
- go get github.com/nats-io/gnatsd
##- go get github.com/mattn/goveralls
##- go get github.com/wadey/gocovmerge
##- go get github.com/alecthomas/gometalinter
##- gometalinter --install
before_script:
##- EXCLUDE_VENDOR=$(go list ./... | grep -v "/vendor/")
##- go fmt ./...
##- go build
##- go install
##- go vet $EXCLUDE_VENDOR
##- travis_wait 20 gometalinter ./... --vendor --fast --deadline 20m
##- travis_wait 20 gometalinter ./... --vendor --disable-all --enable=staticcheck --enable=gosimple  --deadline 20m
script:
##- go test -i -race $EXCLUDE_VENDOR -p 1
##- go test -v -race $EXCLUDE_VENDOR -p 1
after_success:
##- if [[ "$TRAVIS_GO_VERSION" == 1.9.* ]]; then ./scripts/cov.sh TRAVIS; fi

# calls goreleaser
deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL http://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux