name: Test Coverage
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  coverage:
    name: Test Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Setup Goveralls
        run: go install github.com/mattn/goveralls@v0.0.12

      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          skip-pkg-cache: true

      - name: Run Tests
        run: make test-cov

      - name: Run Coveralls
        run: goveralls -coverprofile=collector.out,exporter.out -service=github
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
