name: Exporter Release
on:
  push:
    tags:
      - 'v*'
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v1
      with:
        path: src/github.com/nats-io/prometheus-nats-exporter
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.17
    - name: Release
      shell: bash --noprofile --norc -x -eo pipefail {0}
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      run: |
        curl --location http://git.io/goreleaser | bash
